{% extends "core/base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
                
               
               
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form.username.label }}
                {{ form.username }}
             
                {{ form.password1.label }}
                {{ form.password1}}

                
                
            </fieldset>
            <div class="form-group">
                <br>
                <button class="py-2 px-4 bg-sky-700 text-white" type="submit">Sign Up</button>
            </div>
        </form>
        
    </div>

    

    
    
{% endblock %}